body {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(223deg, #00CF97 0%, #00BBEB 100%);
    background-image: -o-linear-gradient(223deg, #00CF97 0%, #00BBEB 100%);
    background-image: linear-gradient(313deg, #00CF97 0%, #00BBEB 100%);
}
h3 {
    padding: 20px 10px;
    font-size: 16px;
}
.start-button {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: 64px;
    height: 64px;
    color: #fff;
    cursor: default;
    line-height: 64px;
    border-radius: 50%;
    user-select: none;
    margin-left: -32px;
    -webkit-user-select: none;
    background-color: #000;
    border-style: solid;
    -webkit-filter: url("#filter");
    filter: url("/#filter");
    border-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    outline: 90px solid transparent !important;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.svg-filters {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.active,
.start-button:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.start-button:disabled {
  border-color: #fff;
  background-color: #000;
}
.group-list {
    display: flex;
    display: -webkit-flex;
    color: #fff;
    height: 100%;
    overflow: scroll;
}
.flex-item {
    width: 50vw;
    padding: 40px;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
/*.group-list .flex-item:nth-child(1) {
    background-color: #5C6BC0;
}
.group-list .flex-item:nth-child(2) {
    background-color: #42A5F5;
}
.group-list .flex-item:nth-child(3) {
    background-color: #29B6F6;
}
.group-list .flex-item:nth-child(4) {
    background-color: #26C6DA;
}*/
.round {
    display: inline-block;
    width: 64px;
    height: 64px;
    color: #fff;
    position: relative;
    font-size: 14px;
    line-height: 64px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    background: center no-repeat;
    background-size: 100% 100%;
    user-select: none;
    -webkit-user-select: none;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.over-layout {
    background-color: rgba(40, 53, 147,.65);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.round:hover {
  color: rgba(255,255,255,0);
}
.round:hover .over-layout{
    background-color: rgba(40, 53, 147,.15);
}
.loading {
    transform-origin: center;
    -webkit-transform-origin: center;
    animation: spin-rotate 1.1s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-animation: spin-rotate 1.1s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@-webkit-keyframes spin-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
