body {
    text-align: center;
}
h3 {
    padding: 20px;
    font-size: 16px;
}
.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    color: #fff;
    cursor: default;
    line-height: 64px;
    border-radius: 50%;
    user-select: none;
    margin-left: -32px;
    margin-top: -32px;
    -webkit-user-select: none;
    background-color: #000;
    border-style: solid;
    border-color: #fff #000 #fff #000;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.active,
.start-button:hover {
    color: #000;
    background-color: #fff;
    border-color: #000 #fff #000 #fff;
}
.group-list {
    display: flex;
    display: -webkit-flex;
    color: #fff;
}
.flex-item {
    width: 50vw;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.group-list .flex-item:nth-child(1) {
    background-color: #5C6BC0;
}
.group-list .flex-item:nth-child(2) {
    background-color: #42A5F5;
}
.group-list .flex-item:nth-child(3) {
    background-color: #29B6F6;
}
.group-list .flex-item:nth-child(4) {
    background-color: #26C6DA;
}
.round {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #fff;
    position: relative;
    font-size: 16px;
    line-height: 80px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    background: center no-repeat;
    background-size: 100% 100%;
    user-select: none;
    -webkit-user-select: none;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.over-layout {
    background-color: rgba(40, 53, 147,.65);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.round:hover {
  color: rgba(255,255,255,0);
}
.round:hover .over-layout{
    background-color: rgba(40, 53, 147,.15);
}
.loading {
    transform-origin: center;
    -webkit-transform-origin: center;
    animation: spin-rotate 1.1s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-animation: spin-rotate 1.1s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@-webkit-keyframes spin-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
